<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>673689568294-6iq627s33tbjukho83av6p5l5ggbse63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673689568294-6iq627s33tbjukho83av6p5l5ggbse63</string>
	<key>API_KEY</key>
	<string>AIzaSyAags0i9zSowfnSajlCw_aHDx6THyQIAoo</string>
	<key>GCM_SENDER_ID</key>
	<string>673689568294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KrystynaKruchkovska.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoin-f65a5</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoin-f65a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673689568294:ios:a8e92c8c451c0e93</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoin-f65a5.firebaseio.com</string>
</dict>
</plist>